<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinxin.livedata">

    <application>
        <activity android:name=".fragment.FragmentActivity"></activity>
        <activity android:name=".TimerLiveDataActivity" />
    </application>

</manifest>